.filter {
    padding-top: 3.125rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 0.5rem;
    background-color: var(--green-quaternary);
    color: var(--grey-primary);
}

.filter button {
    background-color: var(--green-tertiary);
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    padding: 0.5rem;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;

}

.filter button:hover {
     color: var(--grey-primary);
}

.filter .filter-title {
    width: 100%;
    padding: 0.5rem 1rem 0 1rem;
    font-weight: 800;
    color: var(--grey-primary);
}