.welcome {
    text-align: center;
    height: 50vh;
    background-image: url("./assets/bg-742.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: center;
    color: white;
}