.card-product{
    width: 200px;
    position: relative;

}

a {
    text-decoration: none;
}

.card-product:visited {
    text-decoration: none;
}

.card-product .wish-btn{
    position:absolute;
    top:0;
    right: 5px;
}

.img-product-thumbnail {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.card-product img {
    width: 60%;
}

.card-product h4 {
    font-size: 1.06rem;
    font-weight: 500;
    text-align: center;
    color: var(--grey-primary);
}

.card-product p {
    font-size: 1.56rem;
    font-weight: bold;
    text-align: center;
    color: var(--green-secondary);
}

