.header {
    position: fixed;
    width: 100%;
    background-color: var(--green-primary);
    height: 4.375rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .search{
    padding-left: 1rem;
}

.header .nav-bar {
    padding-right: 1rem;
}


img {
    margin:0 5px 0 5px;
}

